.user-list {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-list__carousel {
  max-width: 74vw;
  display: flex;
  gap: 4px;
  list-style: none;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

.user-list__carousel::-webkit-scrollbar {
  background-color: transparent;
  height: 8px;
}

.user-list__carousel::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: white;
}

.user-list__carousel::-webkit-scrollbar-thumb:hover {
  background-color: rgb(144, 222, 253);
}

.user-list__buttons {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.user-list__buttons button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}
