.user-list {
  list-style: none;
  margin: 0 auto;
  gap: 4px;
  padding: 0;
  width: 90%;
  max-width: 50rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.user-list::-webkit-scrollbar {
  box-shadow: 0 2px 2px rgba(28, 31, 48, 0.1);
  background: white;
  border-radius: 10px;
  height: 3vh;
}

.user-list::-webkit-scrollbar-thumb {
  background: rgb(55, 118, 214);
  border-radius: 10px;
}
