.main-navigation__menu-btn {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1.5rem;
  cursor: pointer;
}

.main-navigation__title {
  color: rgb(1, 5, 27);
}

.main-navigation__title a {
  text-decoration: none;
  color: rgb(1, 5, 27);
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 608px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}
